body{
  background-image: url(assets/grid\ background.jpg);
  /*margin: 2em 15em;*/
}

.banner{
    text-align: center;
    background-color: rgb(10, 82, 141);
    border-radius: 10px;
    padding: 5px 10px;
    font-family: "body-font", monospace;
    color: lightblue
}

.banner h1{
  font-family: "header-font", 'courier new', monospace
}

.block{
  font-family: "body-font", monospace;
  background-color: rgb(114, 24, 88);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 8px;
  color: rgb(246, 177, 226);
}

.block li{
  margin: 15px 10px 0px 0px;
}

.block a{
  color: white;
}

.block p, h2, h3, details{
  text-align: center;
}

@font-face {
  font-family: "body-font";
  src: url("assets/ari-w9500.ttf") format("truetype");
}

@font-face {
  font-family: "header-font";
  src: url("assets/ari-w9500-display.ttf") format("truetype");
}