img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(34, 3, 53);
	height: 100vh;
	animation: flow 2s infinite alternate ease-in;
	margin: 0 auto;
}

.waterfall {
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 1;
}

.stream {
	background-color: purple;
	width: 100px;
	height: 100%;
	animation: flow 10s infinite alternate ease-in;
}

.stream-2 {
	background-image: linear-gradient(rgb(224, 9, 213), rgb(65, 6, 78));
	width: 100px;
	height: 100vh;
	animation: flow 2s infinite alternate ease-in;
}

.special {
	animation: widen 1s infinite alternate ease-in-out;
}

.special-2{
    animation: skinny 5s infinite alternate ease-out
}

@keyframes flow {
	0% {
		background-color: rgb(65, 6, 78);
	}

	100% {
		background-color: rgb(131, 6, 125);
	}
}

@keyframes widen {
	0% {
		width: 100px;
	}

	100% {
		width: 220px;
	}
}

@keyframes skinny {
	0% {
		width: 120px;
	}
	100% {
		width: 50px;
	}
}
