img{
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

.container{
    background-color: pink;
    padding: 10px;
    display: flex;
    /* flex-drection determines the main axis */
    /* row = horizontal main axis; default */
    /* column = vertical main axis */
    flex-direction: row;
    flex-wrap: wrap;
    /* aligns content along main axis */
    justify-content: center;
    height: 400px;
    /* align-items is for single-line non-wrapping flexboxes */
    align-items: center;
    /* align-content is for multi-line wrapping flexboxes and aligns along the cross axis */
    align-content:center;
    gap: 10px;
}

.item{
    background-color: rgb(249, 235, 180);
    padding: 10px;
    border: rgb(249, 146, 180) solid 1px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}